.cardLists {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    width: 664px;
    height: 902px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;

}

.blockLists {
    margin-right: 190px;
    display: flex;
    flex-direction: row;
}

.textLists {
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #424242;
    padding-left: 20px;


}

.textDateLists {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #41522E;
    white-space: nowrap;
    margin-top: 24px;
    margin-right: 10px;
}

.textFlex {
    white-space: nowrap;
}

.flexHead {
    display: flex;
    flex-direction: row;
}


.sliderWrapper {
    width: 100%;
}

.blockFavoriteAdd {
    left: 0;
    width: 600px;

}

.textFavoriteAdd {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
    white-space: nowrap;
}

.elipseLists {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(65, 82, 46, 0.05);
    margin-top: 30px;
}

.iconRel {
    position: relative;
}

.houseIcon {
    position: absolute;
    bottom: 18px;
    left: 20px;
}

.roofIcon {
    position: absolute;
    bottom: 33px;
    left: 15px;
}

.nameHotel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
    padding-left: 24px;
    padding-top: 30px;
    width: 254px;

}

.dateHotel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    padding-left: 24px;
    color: #878787;
    margin-top: -10px;
}

.starsRow {
    padding-left: 24px;
    margin-top: -14px;

}

.starslists {
    margin-right: 3px;
}

.priceLists {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
    white-space: nowrap;
    padding-top: 69px;
    padding-left: 140px;
    position: absolute;


}

.costLists {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: #424242;
    white-space: nowrap;
    padding-top: 67px;
    padding-left: 180px;
}

.likesIcons {
    position: absolute;
    margin-top: 27px;
    margin-left: 210px;
    cursor: pointer;
}

.likesIcons:hover path {
    fill: rgba(196, 196, 196, 1);
    transition: .5s linear;
}

.likesIcons:active path {
    fill: #E55858;
    border: none;
}

.costsFlex {
    display: flex;
    flex-direction: row;
}