.bgHotel {
    background: rgb(244, 244, 244);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bigTextHotel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #424242;

    padding-left: 31px;
}

.flexHeader {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    justify-content: space-between;
}

.flexExit {
    display: flex;
    flex-direction: row;
    color: #41522E;
    align-items: center;
    cursor: pointer;
}

.exitText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.408px;
    padding-right: 15px;
    color: #41522E;
}

.exitIcon {
    padding-right: 35px;
    transform: translate(0, -25%);
}

.rowComponents {
    display: flex;
    flex-direction: row;
}

.columnComponent {
    display: flex;
    flex-direction: column;
}