.cardLists {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    width: 664px;
    height: 902px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;

}

.blockLists {
    margin-right: 190px;
    display: flex;
    flex-direction: row;
}

.textLists {
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #424242;
    padding-left: 20px;


}

.textDateLists {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #41522E;
    white-space: nowrap;
    margin-top: 24px;
    margin-right: 10px;
}

.textFlex {
    white-space: nowrap;
}

.flexHead {
    display: flex;
    flex-direction: row;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.slider {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider img {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.slider img.active {
    opacity: 1;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

.slider-button.prev {
    left: 0;
}

.slider-button.next {
    right: 0;
}