.cardLists {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    width: 664px;
    height: 902px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;

}

.blockLists {
    margin-right: 190px;
    display: flex;
    flex-direction: row;
}

.textLists {
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #424242;
    padding-left: 20px;


}

.textDateLists {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #41522E;
    white-space: nowrap;
    margin-top: 24px;
    margin-right: 10px;
}

.textFlex {
    white-space: nowrap;
}

.flexHead {
    display: flex;
    flex-direction: row;
}